<div class="signup-container">
  {% form 'customer', class: 'signup-form' %}
    {%- if form.errors -%}
      <div class="form-notification error" id="Newsletter-error--{{ section.id }}">
        {% render 'svg-icons' with 'thb-error' %}
        {{ form.errors.translated_fields.email | capitalize }}
        {{ form.errors.messages.email }}
      </div>
    {%- endif -%}
    {%- if warningAlert -%}
      {%- if customer and customer.accepts_marketing -%}
        <script>
          var loggedInEmail = '{{ customer.email }}';
        </script>
        <div class="form-notification" id="login-user-notification">{{ warningAlert }}</div>
      {% elsif form.message %}
        {% comment %}
          <script>
            var loggedInEmail = '';
          </script>
        {% endcomment %}
        <div class="form-notification" id="login-user-notification">{{ warningAlert }}</div>
      {%- endif -%}
    {%- endif -%}

    {%- if form.posted_successfully? -%}
      <div class="form-notification success" id="Newsletter-success--{{ section.id }}">
        {% render 'svg-icons' with 'thb-success' %}
        {%- if successAlert != blank -%}
          {{ successAlert }}
        {%- else -%}
          {{ 'newsletter.success' | t }}
        {%- endif -%}
      </div>
    {%- endif -%}
    <fieldset>
      {%- if tag != blank -%}
        <input type="hidden" name="contact[tags]" value="{{ tag }}">
      {%- endif -%}
      {%- if utm_source != blank -%}
        <input type="hidden" name="utm_source" value="{{ utm_source }}">
      {%- endif -%}
      {%- if utm_medium != blank -%}
        <input type="hidden" name="utm_medium" value="{{ utm_medium }}">
      {%- endif -%}
      {%- if utm_campaign != blank -%}
        <input type="hidden" name="utm_campaign" value="{{ utm_campaign }}">
      {%- endif -%}
      <div class="field">
        <input
          placeholder="{{ 'newsletter.label' | t }}"
          type="email"
          id="NewsletterForm--{{ section.id }}"
          class="activity-wyze--email_input"
          name="contact[email]"
          autocorrect="off"
          autocapitalize="off"
          autocomplete="email"
          value="{{ form.email }}"
          pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,10})(\]?)$"
          title="xxx@xxx.xxx"
          {% if form.errors %}
            autofocus
            aria-invalid="true"
            aria-describedby="Newsletter-error--{{ section.id }}"
          {% elsif form.posted_successfully? %}
            aria-describedby="Newsletter-success--{{ section.id }}"
          {% endif %}
          required
        >
        <label class="field__label" for="NewsletterForm--{{ section.id }}">
          {{ 'newsletter.label' | t }}
        </label>
      </div>
      <button
        class="submit "
        type="submit"
        aria-label="{{ 'sections.signup.enter_your_email' | t }}"
      >
        {%- if activity -%}
          {%- render 'svg-icons-activity' with 'custom-activity-submit' -%}
        {%- else -%}
          {% render 'svg-icons' with 'signup-submit' %}
        {%- endif -%}
      </button>
    </fieldset>
    {%- if settings.email_terms_conditions_enable -%}
      <div class="signup-container--terms">
        <input type="checkbox" class="custom-filter-checkbox" id="NewsletterTerms-{{ form.id }}" required>
        <label for="NewsletterTerms-{{ form.id }}">
          <a href="{{ link }}" target="_blank">
            {{ 'sections.signup.i_agree' | t }}
          </a>
        </label>
      </div>
    {%- endif -%}
  {% endform %}
</div>
<script>
  window.addEventListener('DOMContentLoaded', function () {
    console.log(document.querySelector('.activity-wyze--email_input'));
    if (document.querySelector('.activity-wyze--email_input'))
      document.querySelector('.activity-wyze--email_input').addEventListener('input', function (e) {
        const userInput = e.target.value; // 获取用户输入的邮箱
        console.log(userInput);
        if (!userInput) return;
        // 判断用户输入的邮箱是否与已登录用户邮箱一致
        if (this.loggedInEmail) {
          const loggedInEmail = this.loggedInEmail; // 从 Liquid 传递的变量中获取已登录用户邮箱
          const notificationEle = document.querySelector('#login-user-notification');
          if (loggedInEmail && userInput.toLowerCase() === loggedInEmail.toLowerCase()) {
            notificationEle.style.display = 'block';
          } else {
            notificationEle.textContent = '';
          }
          return;
        }
        // 判断用户输入的邮箱是否已经订阅
        // const config = {
        //   method: 'GET',
        //   headers: {
        //     'X-Requested-With': 'XMLHttpRequest',
        //     Accept: 'application/javascript',
        //   },
        // };
        // const date = new Date().getFullYear() + '-' + new Date().getMonth() + 1;
        // fetch('/admin/api/' + date + '/customers/search.json?query=email:' + userInput, config)
        //   .then((response) => {
        //     console.log(response);

        //     response.json();
        //   })
        //   .then((data) => {
        //     console.log(data);
        //   })
        //   .catch((error) => {
        //     console.error(error);
        //   });

        // console.log(userInput);
        // fetch('/admin/api/' + date + '/check-subscription', {
        //   method: 'POST',
        //   headers: { 'Content-Type': 'application/json' },
        //   body: JSON.stringify({ email: userInput }),
        // })
        //   .then((response, request) => {
        //     console.log(response, request);

        //     response.json();
        //   })
        //   .then((data) => {
        //     console.log(data);

        //     if (data.subscribed) {
        //       alert('Your email is already subscribed!');
        //     } else {
        //       alert('You are not subscribed yet. Please complete the form to subscribe.');
        //     }
        //   });
      });
  });
  // onEmailEnter = (e) => {
  //   console.log(document.querySelector('.activity-wyze--email_input'));
  //   console.log(document.getElementsByClassName('activity-wyze--email_input'));
  //   const userInput = e.target.value; // 获取用户输入的邮箱

  //   fetch('/check-subscription', {
  //     method: 'POST',
  //     headers: { 'Content-Type': 'application/json' },
  //     body: JSON.stringify({ email }),
  //   })
  //     .then((response) => response.json())
  //     .then((data) => {
  //       if (data.subscribed) {
  //         alert('Your email is already subscribed!');
  //       } else {
  //         alert('You are not subscribed yet. Please complete the form to subscribe.');
  //       }
  //     });
  // };
</script>
