{%- liquid
  assign heading_float = mega_menu_block.settings.heading_float
  assign mobile_colums = mega_menu_block.settings.mobile_colums
%}

<li class="full-width header-full-menu-promotion {{mobile_colums}}">
  <div class="mega-menu-promotion d-flex align-center justify-space-between flex-column">
    <div class="mega-menu-promotion--image full-width position-relative">
      <div class="image-pc">
        {%- render 'responsive-image', image: promotion_image, sizes: '670x0', priority: 'low' -%}
      </div>
      <div class="image-mobile">
        {%- if promotion_image_mobile -%}
          {%- render 'responsive-image', image: promotion_image_mobile, sizes: '670x0', priority: 'low' -%}
        {%- else -%}
          {%- render 'responsive-image', image: promotion_image, sizes: '670x0', priority: 'low' -%}
        {%- endif -%}
      </div>
      {%- if promotion_heading and heading_float -%}
        <div class="mega-menu-promotion--content text-center">
          <h6>{{ promotion_heading }}</h6>
        </div>
      {%- endif -%}
    </div>
    <div class="mega-menu-promotion--content text-center">
      {%- if promotion_heading and heading_float == false -%}
        <h6>{{ promotion_heading }}</h6>
      {%- endif -%}
      {%- if promotion_content -%}
        <p>{{ promotion_content }}</p>
      {%- endif -%}
    </div>
    {%- if promotion_link != empty -%}
      {% liquid
        if promotion_link == '/'
          assign tag = 'span'
        else
          assign tag = 'a'
        endif
      %}
      <{{ tag }}
        class="mega-menu-promotion--link"
        {%- if promotion_link -%}
          href="{{ promotion_link }}"
        {%- endif -%}
      ></{{ tag }}>
    {%- endif -%}
  </div>
</li>
