<product-add-to-cart-bar class="product-add-to-cart-bar no-js-hidden" data-section="{{ section.id }}">
  <div class="product-add-to-cart-bar--container row">
    <div class="product-add-to-cart-bar--icon">
      {% if settings.black_friday_flag %}
        <span>{%- render 'svg-icons-friday' with 'custom-friday-sale' -%}</span>
      {% endif %}
    </div>
    <div class="product-add-to-cart-bar--info">
      <div class="product-info--price no-js-hidden" id="price-{{ section.id }}">
        {% if settings.black_friday_flag %}
          <span class="product-info--icon">
            {%- render 'svg-icons-friday' with 'custom-friday-light' -%}
          </span>
        {% endif %}
        {% render 'product-price', product: product, use_variant: true, show_badges: true %}
      </div>
    </div>
    <div class="product-add-to-cart-bar--buttons">
      {% comment %}
        {% render 'product-add-to-cart',
          product: product,
          form: form,
          product_form_id: form_id,
          block: button_block,
          pickup: pickup,
          sticky: 1
        %}
      {% endcomment %}
      {%- if product != blank -%}
        {%- liquid
          assign product_template = product.template_suffix | escape

          if product.metafields.theme.preorder and product.available
            assign product_template = 'pre-order'
          endif
        -%}
        <product-form
          class="product-form"
          data-sticky="1"
          data-section="{{ section.id }}"
          template="{{ product_template | escape }}"
        >
          <div class="product-form__error-message-wrapper form-notification error" role="alert" hidden>
            {% render 'svg-icons' with 'thb-error' %}
            <span class="product-form__error-message"></span>
          </div>
          <div class="product-add-to-cart-container">
            <div class="form-notification error" style="display:none;"></div>
            <div class="add_to_cart_holder">
              <button
                type="submit"
                name="add"
                id="AddToCartSticky"
                class="single-add-to-cart-button button accent {% unless product.selected_or_first_available_variant.available %}sold-out{% endunless %}"
                {% if product.selected_or_first_available_variant.available == false %}
                  disabled
                {% endif %}
                form="{{ product_form_id }}"
              >
                <span class="single-add-to-cart-button--text">
                  {%- liquid
                    if product.selected_or_first_available_variant.available == false
                      assign button_content = 'products.product.sold_out' | t
                    else
                      if product_template == 'pre-order'
                        assign button_content = 'products.product.pre_order' | t
                      else
                        assign button_content = 'products.product.add_to_cart' | t
                      endif
                    endif
                  -%}
                  {{- button_content -}}
                </span>
                <span class="loading-overlay">
                  {% render 'svg-icons' with 'thb-loading' %}
                </span>
              </button>
            </div>
          </div>
        </product-form>
        {% comment %}
          {%- liquid
            assign gift_card_recipient_feature_active = false
            if button_block.settings.show_gift_card_recipient and product.gift_card?
              assign gift_card_recipient_feature_active = true
            endif

            assign show_dynamic_checkout = false
            if button_block.settings.show_dynamic_checkout and gift_card_recipient_feature_active == false
              assign show_dynamic_checkout = true
            endif
          -%}
          1
          {%- if show_dynamic_checkout -%}
            2
        {% endcomment %}
        {{ form }}
        {{ form | payment_button }}
        <button type="submit" name="checkout" class="checkout-button button full accent" form="{{ product_form_id }}">
          <span>{{ 'sections.cart.checkout' | t }}</span>
        </button>
        {% comment %} {%- endif -%} {% endcomment %}
      {%- else -%}
        <div class="product-form">
          <div class="product-form__buttons form">
            <button
              type="submit"
              name="add"
              class="single_add_to_cart_button button sold-out"
              disabled
            >
              <span class="single-add-to-cart-button--text">{{ 'products.product.sold_out' | t }}</span>
            </button>
          </div>
        </div>
      {%- endif -%}
    </div>
  </div>
</product-add-to-cart-bar>
