{{- 'activity-samsung-verify.css' | asset_url | stylesheet_tag -}}
{%- liquid
  assign full_width = section.settings.full_width
  assign image = section.settings.image
  assign mobile_image = section.settings.mobile_image
  assign image_parallax = section.settings.image_parallax
  assign desktop_height = section.settings.desktop_height
  assign mobile_height = section.settings.mobile_height

  assign content_width = section.settings.content_width
  assign content_position = section.settings.content_position
  assign text_alignment = section.settings.text_alignment

  assign text_color = section.settings.text_color
  assign overlay_color = section.settings.overlay_color
  assign overlay_opacity = section.settings.overlay_opacity

  assign disable_top_spacing = section.settings.disable_top_spacing
  assign disable_bottom_spacing = section.settings.disable_bottom_spacing

  case mobile_height
    when 'mobile-height-345'
      assign mobile_image_height = 345
    when 'mobile-height-350'
      assign mobile_image_height = 350
    when 'mobile-height-400'
      assign mobile_image_height = 400
    when 'mobile-height-450'
      assign mobile_image_height = 450
    when 'mobile-height-500'
      assign mobile_image_height = 500
    else
      assign mobile_image_height = 900
  endcase

  assign priority = false

  if section.index == 1
    assign priority = 'high'
  endif
-%}
<div class="row {% if full_width %}full-width-row-full{% endif %}">
  <div class="small-12 columns">
    <activity-samsung-verify
      class="activity-samsung-verify full-width activity-samsung-verify--full-width-{{ full_width }} text-{{ text_alignment }}{% if mobile_height %} {{mobile_height}}{% endif %}{% if desktop_height %} {{ desktop_height }}{% endif %} {% if disable_top_spacing %} spacing--disable-top{% endif %}{% if disable_bottom_spacing %} spacing--disable-bottom{% endif %}"
      style="--text-color: {{ text_color }}; --overlay-color-rgb: {{ overlay_color.rgb | replace: ' ' , ',' }}; --overlay-opacity: {{ overlay_opacity | divided_by: 100.0 }}"
    >
      <div class="activity-samsung-verify--bg full-width parallax--{{ image_parallax }}">
        {% if image %}
          {%- liquid
            assign small_width = image.src.height | times: '375' | divided_by: image.src.width
            assign master_width = image.src.width | append: 'x' | append: image.src.height
            assign width = '375x' | append: small_width | append: ',' | append: master_width

            assign class = ''
            if image_parallax
              assign class = 'thb-parallax-image'
            endif

            if mobile_image
              assign class = class | append: ' activity-samsung-verify--desktop'
            endif
          -%}
          {%- render 'responsive-image', image: image, sizes: width, class: class, priority: priority -%}
        {% else %}
          {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder_svg_tag' }}
        {% endif %}
        {%- if mobile_image -%}
          {%- liquid
            assign image = mobile_image
            assign master_width = image.src.width | append: 'x' | append: image.src.height
            assign width = '375x' | append: mobile_image_height | append: ',' | append: master_width

            assign class = ''
            if image_parallax
              assign class = 'thb-parallax-image'
            endif

            assign class = class | append: ' activity-samsung-verify--mobile'
            render 'responsive-image', image: image, sizes: width, class: class, priority: priority
          -%}
        {%- endif -%}
      </div>

      <div class="activity-samsung-verify--content full-width full-height d-flex content-{{ content_position }}">
        <div class="activity-samsung-verify--content-inner full-width content-width-{{ content_width }}">
          {% for block in section.blocks %}
            {%- case block.type -%}
              {%- when 'badge' -%}
                <div {{ block.shopify_attributes }}>
                  <span
                    class="inline-badge"
                    style="--badge-bg: {{ block.settings.color_bg }};--badge-text: {{ block.settings.color_text }}"
                  >
                    {{- block.settings.text -}}
                  </span>
                </div>
              {%- when 'heading' -%}
                <div class="content-heading" {{ block.shopify_attributes }}>
                  {%- if block.settings.text -%}
                    <h3 class="{{ block.settings.heading_size }}">
                      {{ block.settings.text | newline_to_br }}
                    </h3>
                  {%- endif -%}
                  {%- if block.settings.logo -%}
                    {%- render 'responsive-image', image: block.settings.logo, sizes: image.src.width | append: 'x' | append: image.src.height -%}
                  {%- endif -%}
                </div>
              {%- when 'subheading' -%}
                <div class="content-subheading" {{ block.shopify_attributes }}>
                  {%- if block.settings.text -%}
                    <p class="subheading">{{ block.settings.text }}</p>
                  {%- endif -%}
                  {%- if block.settings.logo -%}
                    {%- render 'responsive-image', image: block.settings.logo, sizes: image.src.width | append: 'x' | append: image.src.height -%}
                  {%- endif -%}
                </div>
              {%- when 'text' -%}
                <div
                  class="rte description-size--{{ block.settings.description_size }}content-desc"
                  {{ block.shopify_attributes }}
                >
                  {{ block.settings.text }}
                </div>
              {%- when 'link' -%}
                <a
                  href="{{ block.settings.link_url }}"
                  class="link d-flex align-center justify-center"
                  style="
                    color:{{ block.settings.color_text }};background:
                    {{- block.settings.color_bg -}}
                  "
                  {{ block.shopify_attributes }}
                >
                  {{ block.settings.text }}
                  {%- render 'svg-icons-custom' with 'custom-arrow-right' -%}
                </a>
              {%- when 'button' -%}
                {% if block.settings.button_text != blank %}
                  <a
                    class="button {{ block.settings.button_color }}"
                    href="{{ block.settings.button_link }}"
                    role="button"
                    title="{{ block.settings.button_text | escape }}"
                    {{ block.shopify_attributes }}
                  >
                    {{- block.settings.button_text -}}
                  </a>
                {% endif %}
              {% when 'space' %}
                <div style="height: {{ block.settings.height | append: 'px' }}" {{ block.shopify_attributes }}></div>
            {%- endcase -%}
          {% endfor %}
          <div class="activity-samsung-verify--columns d-flex justify-center gap-10 full-width">
            {% for block in section.blocks %}
              {%- if block.type == 'column' -%}
                {%- liquid
                  assign column_id = block.settings.column_id
                  assign column_heading = block.settings.column_heading
                  assign column_subheading = block.settings.column_subheading
                  assign column_description = block.settings.column_description
                  assign column_subtitle_1 = block.settings.column_subtitle_1
                  assign column_subtitle_2 = block.settings.column_subtitle_2
                  assign column_subdescription_1 = block.settings.column_subdescription_1
                  assign column_subdescription_2 = block.settings.column_subdescription_2
                  assign column_note = block.settings.column_note
                -%}
                <div
                  class="activity-samsung-verify--column"
                  {{ block.shopify_attributes }}
                  style="background: {{ block.settings.color_bg }};"
                >
                  {%- if column_heading != blank -%}
                    <div>{{ column_heading }}</div>
                  {%- endif -%}
                  {%- if column_subheading != blank -%}
                    <div>{{ column_subheading }}</div>
                  {%- endif -%}
                  {%- if column_description != blank -%}
                    <div>{{ column_description }}</div>
                  {%- endif -%}
                  {%- if column_subtitle_1 != blank -%}
                    <div>{{ column_subtitle_1 }}</div>
                  {%- endif -%}
                  {%- if column_subdescription_1 != blank -%}
                    <div>{{ column_subdescription_1 }}</div>
                  {%- endif -%}
                  {%- if column_subtitle_2 != blank -%}
                    <div>{{ column_subtitle_2 }}</div>
                  {%- endif -%}
                  {%- if column_subdescription_2 != blank -%}
                    <div>{{ column_subdescription_2 }}</div>
                  {%- endif -%}
                  {%- if column_id == '2' -%}
                    {%- render 'email-signup-form',
                      tag: block.settings.tag,
                      link: block.settings.link,
                      utm_source: block.settings.utm_source,
                      utm_medium: block.settings.utm_medium,
                      utm_campaign: block.settings.utm_campaign,
                      activity: true,
                      successAlert: 'Thanks, you are all set! <br />
              Watch your mailbox for the results on 13th May.',
                      errorAlert: 'Oops, something went wrong. Please try again later.',
                      warningAlert: 'This email address is already registered. Please use a different email address. '
                    -%}
                  {%- endif -%}
                  {%- if column_note != blank -%}
                    <div class="d-flex align-center">
                      <div>
                        {{ column_note }}
                      </div>
                      {%- render 'svg-icons-custom' with 'custom-help' -%}
                    </div>
                  {%- endif -%}
                </div>
              {%- endif -%}
            {% endfor %}
          </div>
        </div>
      </div>
    </activity-samsung-verify>
  </div>
</div>
<script src="{{ 'activity-samsung-verify.js' | asset_url }}" defer="defer"></script>
{% schema %}
{
  "name": "Activity Samsung Verify",
  "class": "yee-activity-samsung-verify",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "2800 x 650 .jpg recommended."
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile image (optional)",
      "info": "375 x 650 .jpg recommended."
    },
    {
      "type": "checkbox",
      "id": "image_parallax",
      "default": false,
      "label": "Enable parallax",
      "info": "Animations must be enabled in theme settings"
    },
    {
      "type": "select",
      "id": "desktop_height",
      "label": "Desktop height",
      "options": [
        {
          "value": "desktop-height-450",
          "label": "450px"
        },
        {
          "value": "desktop-height-480",
          "label": "480px"
        },
        {
          "value": "desktop-height-550",
          "label": "550px"
        },
        {
          "value": "desktop-height-650",
          "label": "650px"
        },
        {
          "value": "desktop-height-800",
          "label": "800px"
        },
        {
          "value": "desktop-height-full",
          "label": "Full screen"
        },
        {
          "value": "",
          "label": "None"
        }
      ],
      "default": "desktop-height-480"
    },
    {
      "type": "select",
      "id": "mobile_height",
      "label": "Mobile height",
      "options": [
        {
          "value": "mobile-height-auto",
          "label": "Adapt to content"
        },
        {
          "value": "mobile-height-345",
          "label": "345px"
        },
        {
          "value": "mobile-height-350",
          "label": "350px"
        },
        {
          "value": "mobile-height-400",
          "label": "400px"
        },
        {
          "value": "mobile-height-450",
          "label": "450px"
        },
        {
          "value": "mobile-height-500",
          "label": "500px"
        },
        {
          "value": "mobile-height-full",
          "label": "Full screen"
        },
        {
          "value": "",
          "label": "None"
        }
      ],
      "default": "mobile-height-345"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Make section full width",
      "default": true
    },
    {
      "type": "select",
      "id": "content_width",
      "label": "Content width",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "content_position",
      "label": "Content position",
      "options": [
        { "value": "top-left", "label": "Top left" },
        { "value": "top-center", "label": "Top center" },
        { "value": "top-right", "label": "Top right" },
        { "value": "middle-left", "label": "Middle left" },
        { "value": "middle-center", "label": "Middle center" },
        { "value": "middle-right", "label": "Middle right" },
        { "value": "bottom-left", "label": "Bottom left" },
        { "value": "bottom-center", "label": "Bottom center" },
        { "value": "bottom-right", "label": "Bottom right" }
      ],
      "default": "bottom-center"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Content alignment"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Overlay opacity",
      "default": 30
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "checkbox",
      "id": "disable_top_spacing",
      "default": false,
      "label": "Remove top spacing"
    },
    {
      "type": "checkbox",
      "id": "disable_bottom_spacing",
      "default": false,
      "label": "Remove bottom spacing"
    }
  ],
  "blocks": [
    {
      "type": "badge",
      "name": "Badge",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Badge heading"
        },
        {
          "type": "color",
          "id": "color_bg",
          "label": "Background",
          "default": "#3f72e5"
        },
        {
          "type": "color",
          "id": "color_text",
          "label": "Text",
          "default": "#ffffff"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Activity Samsung Verify"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "Size",
          "options": [
            {
              "value": "h2",
              "label": "Small"
            },
            {
              "value": "h1",
              "label": "Medium"
            },
            {
              "value": "h1-large",
              "label": "Large"
            },
            {
              "value": "h1-xlarge",
              "label": "Extra large"
            }
          ],
          "default": "h1-xlarge"
        },
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo",
          "info": "1400 x 650 .jpg recommended."
        }
      ]
    },
    {
      "type": "subheading",
      "name": "Subheading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Add a tagline"
        },
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo",
          "info": "1400 x 650 .jpg recommended."
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Content",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
        },
        {
          "type": "select",
          "id": "description_size",
          "label": "Size",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ],
          "default": "medium"
        },
        {
          "type": "color",
          "id": "color_bg",
          "label": "Background"
        },
        {
          "type": "color",
          "id": "color_text",
          "label": "Text",
          "default": "#ffffff"
        }
      ]
    },
    {
      "type": "link",
      "name": "Link",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Add a tagline"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link"
        },
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo",
          "info": "1400 x 650 .jpg recommended."
        },
        {
          "type": "color",
          "id": "color_bg",
          "label": "Background"
        },
        {
          "type": "color",
          "id": "color_text",
          "label": "Text",
          "default": "#ffffff"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "limit": 2,
      "settings": [
        {
          "id": "button_text",
          "type": "text",
          "label": "Button label",
          "default": "Shop Now",
          "info": "Leave the label blank to hide the button."
        },
        {
          "id": "button_link",
          "type": "url",
          "label": "Button link"
        },
        {
          "type": "select",
          "id": "button_color",
          "label": "Color",
          "options": [
            {
              "value": "regular",
              "label": "Regular"
            },
            {
              "value": "accent",
              "label": "Accent"
            },
            {
              "value": "white",
              "label": "White"
            }
          ],
          "default": "accent"
        }
      ]
    },
    {
      "type": "space",
      "name": "Empty space",
      "settings": [
        {
          "type": "range",
          "id": "height",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Height",
          "default": 50
        }
      ]
    },
    {
      "type": "column",
      "name": "Column",
      "settings": [
        {
          "type": "text",
          "id": "column_id",
          "label": "Column id",
          "default": "Customer id"
        },
        {
          "type": "text",
          "id": "column_heading",
          "label": "Column heading",
          "default": "Customer reviews"
        },
        {
          "type": "text",
          "id": "column_subheading",
          "label": "Column subheading",
          "default": "Customer reviews"
        },
        {
          "type": "text",
          "id": "column_description",
          "label": "Description",
          "default": "Add a short description for this section"
        },
        {
          "type": "text",
          "id": "column_subtitle_1",
          "label": "Column subtitle 1",
          "default": "Add a sub-title 1 for this section"
        },
        {
          "type": "text",
          "id": "column_subdescription_1",
          "label": "Column subdescription_1",
          "default": "Add a sub-description 1 for this section"
        },
        {
          "type": "text",
          "id": "column_subtitle_2",
          "label": "Column subtitle 2",
          "default": "Add a sub-title 2 for this section"
        },
        {
          "type": "text",
          "id": "column_subdescription_2",
          "label": "Column subdescription_2",
          "default": "Add a sub-description 2 for this section"
        },
        {
          "type": "text",
          "id": "column_note",
          "label": "Note",
          "default": "Add a note for this section"
        },
        {
          "type": "color",
          "id": "color_bg",
          "label": "Background"
        },
        {
          "type": "color",
          "id": "color_title",
          "label": "Text",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "color_text",
          "label": "Text",
          "default": "#ffffff"
        }
      ]
    },
    {
      "type": "form",
      "name": "Newsletter form",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "utm config"
        },
        {
          "type": "text",
          "id": "utm_source",
          "label": "utm source",
          "info": "Wrap the utm source."
        },
        {
          "type": "text",
          "id": "utm_medium",
          "label": "utm medium",
          "info": "Wrap the utm medium."
        },
        {
          "type": "text",
          "id": "utm_campaign",
          "label": "utm campaign",
          "info": "Wrap the utm campaign."
        },
        {
          "type": "text",
          "id": "tag",
          "label": "customer tag",
          "default": "newsletter",
          "info": "Wrap the customer tag."
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Wrap the apply link."
        }
      ]
    }
  ],
  "max_blocks": 20,
  "presets": [
    {
      "name": "Activity Samsung Verify",
      "blocks": [
        {
          "type": "subheading"
        },
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
