{{ 'shop-the-look.css' | asset_url | stylesheet_tag }}
<script src="{{ 'product.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'slideshow.js' | asset_url }}" defer="defer"></script>
{%- liquid
  assign full_width = section.settings.full_width
  assign disable_top_spacing = section.settings.disable_top_spacing
  assign disable_bottom_spacing = section.settings.disable_bottom_spacing
  assign title = section.settings.title
  assign image_1 = section.settings.image_1
  assign image_1_mobile = section.settings.image_1_mobile
  assign image_2 = section.settings.image_2
  assign image_2_mobile = section.settings.image_2_mobile
  assign image_3 = section.settings.image_3
  assign image_3_mobile = section.settings.image_3_mobile
  assign image_4 = section.settings.image_4
  assign image_4_mobile = section.settings.image_4_mobile
  assign image_5 = section.settings.image_5
  assign image_5_mobile = section.settings.image_5_mobile
  assign button_1_icon = section.settings.button_1_icon
  assign button_1_text = section.settings.button_1_text
  assign button_2_icon = section.settings.button_2_icon
  assign button_2_text = section.settings.button_2_text
  assign button_3_icon = section.settings.button_3_icon
  assign button_3_text = section.settings.button_3_text
  assign button_4_icon = section.settings.button_4_icon
  assign button_4_text = section.settings.button_4_text
  assign button_5_icon = section.settings.button_5_icon
  assign button_5_text = section.settings.button_5_text
  assign footer_title = section.settings.footer_title
  assign footer_description = section.settings.footer_description

  unless image_1_mobile
    assign image_1_mobile = image_1
  endunless
  unless image_2_mobile
    assign image_2_mobile = image_2
  endunless
  unless image_3_mobile
    assign image_3_mobile = image_3
  endunless
  unless image_4_mobile
    assign image_4_mobile = image_4
  endunless
  unless image_5_mobile
    assign image_5_mobile = image_5
  endunless
-%}
<shop-the-look class="shop-the-look section-spacing{% if disable_top_spacing %} section-spacing--disable-top{% endif %}{% if disable_bottom_spacing %} section-spacing--disable-bottom{% endif %}">
  <div class="row{% if full_width %} full-width-row-full{% endif %} custom-shop-look-row">
    <div class="small-12 custom-shop-look-column">
      {%- if title -%}
        <div class="shop-look-header--title">{{ title }}</div>
      {%- endif -%}
      {% comment %}
        {%- if button_1_text and button_2_text and button_3_text and button_4_text and button_5_text -%}
          <div class="shop-look-buttons">
            {% assign buttons = '{'
              | append: "'text': {{button_1_text}}, 'icon': {{button_1_icon}}"
              | append: '},{'
              | append: "'text': {{button_2_text}}, 'icon': {{button_2_icon}}"
              | append: '},{'
              | append: "'text': {{button_3_text}}, 'icon': {{button_3_icon}}"
              | append: '},{'
              | append: "'text': {{button_4_text}}, 'icon': {{button_4_icon}}"
              | append: '},{'
              | append: "'text': {{button_5_text}}, 'icon': {{button_5_icon}}"
              | append: '}'
              | split: '},{'
            %}
            {% assign buttons = buttons | map: 'strip' %}
            {% for item in buttons %}
              {% assign button_hash = item | split: ',' %}
              {{ button_hash }}
              <li class="shop-look-buttons_item" onclick="onChangeBackground">
                {% render 'svg-icons' with {{ button_hash[0] | split: ":" | last | strip }} %}
                {{ button_hash[1] | split: ':' | last | strip }}
              </li>
            {% endfor %}
          </div>
        {%- endif -%}
      {% endcomment %}
      <slide-show
        class="slideshow main-slideshow slideshow--full-width-true carousel transition--fade desktop-height-image shop-look_slideshow--container"
        data-autoplay="{{ false }}"
        data-transition="fade"
        data-fade="{{ true }}"
      >
        {%- if button_1_text != blank
          or button_2_text != blank
          or button_3_text != blank
          or button_4_text != blank
          or button_5_text != blank
        -%}
          <div class="shop-look-buttons-container">
            <div class="shop-look-buttons-container-inner">
              <div class="shop-look-buttons flickity-custom-dots">
                <div class="shop-look-buttons-bg"></div>
                {% if button_1_text != blank %}
                  <li class="shop-look-buttons_item" data-img="{{image_1}}" onclick="onChangeBackground">
                    <div class="shop-look-buttons_item-content">
                      {% render 'svg-icons' with button_1_icon %}
                      <span>{{ button_1_text }}</span>
                    </div>
                  </li>
                {% endif %}
                {% if button_2_text != blank %}
                  <li class="shop-look-buttons_item" onclick="onChangeBackground">
                    <div class="shop-look-buttons_item-content">
                      {% render 'svg-icons' with button_2_icon %}
                      <span>{{ button_2_text }}</span>
                    </div>
                  </li>
                {% endif %}
                {% if button_3_text != blank %}
                  <li class="shop-look-buttons_item" onclick="onChangeBackground">
                    <div class="shop-look-buttons_item-content">
                      {% render 'svg-icons' with button_3_icon %}
                      <span>{{ button_3_text }}</span>
                    </div>
                  </li>
                {% endif %}
                {% if button_4_text != blank %}
                  <li class="shop-look-buttons_item" onclick="onChangeBackground">
                    <div class="shop-look-buttons_item-content">
                      {% render 'svg-icons' with button_4_icon %}
                      <span>{{ button_4_text }}</span>
                    </div>
                  </li>
                {% endif %}
                {% if button_5_text != blank %}
                  <li class="shop-look-buttons_item" onclick="onChangeBackground">
                    <div class="shop-look-buttons_item-content">
                      {% render 'svg-icons' with button_5_icon %}
                      <span>{{ button_5_text }}</span>
                    </div>
                  </li>
                {% endif %}
              </div>
            </div>
          </div>
        {%- endif -%}
        <div class="slideshow_inner">
          123{{ request }}
          {%- if request.user_agent contains 'Mobile' -%}
            <figure class="shop-the-look--area shop-the-look--mobile shop-the-look--full-width-{{ full_width }}">
              {% for block in section.blocks %}
                {%- assign hotspot_product = all_products[block.settings.product_handle] -%}
                <quick-view
                  class="thb-hotspot pin-white"
                  style="left: {{- block.settings.x_position_mobile | append: '%' -}}; top: {{- block.settings.y_position_mobile | append: '%' -}};"
                  data-product-handle="{{ hotspot_product.handle }}"
                >
                  <div class="thb-hotspot-content thb-pulsate">
                    {%- unless hotspot_product == empty -%}
                      <div class="loading-overlay">
                        {% render 'svg-icons' with 'thb-loading' %}
                      </div>
                    {%- endunless -%}
                  </div>
                </quick-view>
              {% endfor %}
            </figure>
          {%- else -%}
            <figure class="shop-the-look--area shop-the-look--desktop shop-the-look--full-width-{{ full_width }}">
              {% for block in section.blocks %}
                {%- assign hotspot_product = all_products[block.settings.product_handle] -%}
                <quick-view
                  class="thb-hotspot pin-white"
                  style="left: {{- block.settings.x_position | append: '%' -}}; top: {{- block.settings.y_position | append: '%' -}};"
                  data-product-handle="{{ hotspot_product.handle }}"
                  {{ block.shopify_attributes }}
                >
                  <div class="thb-hotspot-content thb-pulsate">
                    {%- unless hotspot_product == empty -%}
                      <div class="loading-overlay">
                        {% render 'svg-icons' with 'thb-loading' %}
                      </div>
                      <div class="thb-hotspot-arrow"></div>
                      <div class="thb-hotspot-bubble">
                        {% if hotspot_product.featured_image %}
                          <a
                            href="{{ hotspot_product.url }}"
                            title="{{ hotspot_product.title | escape }}"
                            class="thb-hotspot-product-image"
                          >
                            {%- render 'responsive-image', image: hotspot_product.featured_image, sizes: '150x0' -%}
                          </a>
                        {% endif %}
                        <div class="thb-hotspot-product-content">
                          <div class="thb-hotspot-product-title">{{ hotspot_product.title }}</div>
                          {% render 'product-price', product: hotspot_product %}
                          {% assign text_button_title = 'sections.shop_the_look.view_product' | t %}
                          {% render 'text-button', url: hotspot_product.url, title: text_button_title %}
                        </div>
                      </div>
                    {%- endunless -%}
                  </div>
                </quick-view>
              {% endfor %}
            </figure>
          {%- endif -%}
        </div>
        {%- if request.user_agent contains 'Mobile' -%}
          <div class="shop-look-flickity-viewport shop-the-look--mobile">
            <div class="slideshow__slide carousel__slide mobile-height-image shop-look_slide">
              {%- if image_1_mobile -%}
                {% assign small_height = image_1_mobile.src.height
                  | times: '750'
                  | divided_by: image_1_mobile.src.width
                %}
                {% assign master_width = image_1_mobile.src.width | append: 'x' | append: image_1_mobile.src.height %}
                {% assign sizes = '750x' | append: small_height | append: ',' | append: master_width %}
                {% render 'responsive-image', image: image_1_mobile, sizes: sizes %}
              {%- else -%}
                <div class="thb-placeholder">
                  {{ 'collection-1' | placeholder_svg_tag }}
                </div>
              {%- endif -%}
            </div>
            <div class="slideshow__slide carousel__slide mobile-height-image shop-look_slide">
              {%- if image_2_mobile -%}
                {% assign small_height = image_2_mobile.src.height
                  | times: '750'
                  | divided_by: image_2_mobile.src.width
                %}
                {% assign master_width = image_2_mobile.src.width | append: 'x' | append: image_2_mobile.src.height %}
                {% assign sizes = '750x' | append: small_height | append: ',' | append: master_width %}
                {% render 'responsive-image', image: image_2_mobile, sizes: sizes %}
              {%- else -%}
                <div class="thb-placeholder">
                  {{ 'collection-1' | placeholder_svg_tag }}
                </div>
              {%- endif -%}
            </div>
            <div class="slideshow__slide carousel__slide mobile-height-image shop-look_slide">
              {%- if image_3_mobile -%}
                {% assign small_height = image_3_mobile.src.height
                  | times: '750'
                  | divided_by: image_3_mobile.src.width
                %}
                {% assign master_width = image_3_mobile.src.width | append: 'x' | append: image_3_mobile.src.height %}
                {% assign sizes = '750x' | append: small_height | append: ',' | append: master_width %}
                {% render 'responsive-image', image: image_3_mobile, sizes: sizes %}
              {%- else -%}
                <div class="thb-placeholder">
                  {{ 'collection-1' | placeholder_svg_tag }}
                </div>
              {%- endif -%}
            </div>
            <div class="slideshow__slide carousel__slide mobile-height-image shop-look_slide">
              {%- if image_4_mobile -%}
                {% assign small_height = image_4_mobile.src.height
                  | times: '750'
                  | divided_by: image_4_mobile.src.width
                %}
                {% assign master_width = image_4_mobile.src.width | append: 'x' | append: image_4_mobile.src.height %}
                {% assign sizes = '750x' | append: small_height | append: ',' | append: master_width %}
                {% render 'responsive-image', image: image_4_mobile, sizes: sizes %}
              {%- else -%}
                <div class="thb-placeholder">
                  {{ 'collection-1' | placeholder_svg_tag }}
                </div>
              {%- endif -%}
            </div>
            <div class="slideshow__slide carousel__slide mobile-height-image shop-look_slide">
              {%- if image_5_mobile -%}
                {% assign small_height = image_5_mobile.src.height
                  | times: '750'
                  | divided_by: image_5_mobile.src.width
                %}
                {% assign master_width = image_5_mobile.src.width | append: 'x' | append: image_5_mobile.src.height %}
                {% assign sizes = '750x' | append: small_height | append: ',' | append: master_width %}
                {% render 'responsive-image', image: image_5_mobile, sizes: sizes %}
              {%- else -%}
                <div class="thb-placeholder">
                  {{ 'collection-1' | placeholder_svg_tag }}
                </div>
              {%- endif -%}
            </div>
          </div>
        {%- else -%}
          <div class="shop-look-flickity-viewport shop-the-look--desktop">
            <div class="slideshow__slide carousel__slide desktop-height-image shop-look_slide">
              {%- if image_1 -%}
                {% assign master_width = image_1.src.width | append: 'x' | append: image_1.src.height %}
                {% render 'responsive-image', image: image_1, sizes: master_width %}
              {%- else -%}
                <div class="thb-placeholder">
                  {{ 'lifestyle-1' | placeholder_svg_tag }}
                </div>
              {%- endif -%}
            </div>
            <div class="slideshow__slide carousel__slide desktop-height-image shop-look_slide">
              {%- if image_2 -%}
                {% assign master_width = image_2.src.width | append: 'x' | append: image_2.src.height %}
                {% render 'responsive-image', image: image_2, sizes: master_width %}
              {%- else -%}
                <div class="thb-placeholder">
                  {{ 'lifestyle-1' | placeholder_svg_tag }}
                </div>
              {%- endif -%}
            </div>
            <div class="slideshow__slide carousel__slide desktop-height-image shop-look_slide">
              {%- if image_3 -%}
                {% assign master_width = image_3.src.width | append: 'x' | append: image_3.src.height %}
                {% render 'responsive-image', image: image_3, sizes: master_width %}
              {%- else -%}
                <div class="thb-placeholder">
                  {{ 'lifestyle-1' | placeholder_svg_tag }}
                </div>
              {%- endif -%}
            </div>
            <div class="slideshow__slide carousel__slide desktop-height-image shop-look_slide">
              {%- if image_4 -%}
                {% assign master_width = image_4.src.width | append: 'x' | append: image_4.src.height %}
                {% render 'responsive-image', image: image_4, sizes: master_width %}
              {%- else -%}
                <div class="thb-placeholder">
                  {{ 'lifestyle-1' | placeholder_svg_tag }}
                </div>
              {%- endif -%}
            </div>
            <div class="slideshow__slide carousel__slide desktop-height-image shop-look_slide">
              {%- if image_5 -%}
                {% assign master_width = image_5.src.width | append: 'x' | append: image_5.src.height %}
                {% render 'responsive-image', image: image_5, sizes: master_width %}
              {%- else -%}
                <div class="thb-placeholder">
                  {{ 'lifestyle-1' | placeholder_svg_tag }}
                </div>
              {%- endif -%}
            </div>
          </div>
        {%- endif -%}
      </slide-show>
      <div class="shop-look-product-list">
        <div class="shop-look-product-images">
          {% for block in section.blocks %}
            {%- assign hotspot_product = all_products[block.settings.product_handle] -%}
            {% if hotspot_product.featured_image %}
              <a
                href="{{ hotspot_product.url }}"
                title="{{ hotspot_product.title | escape }}"
                class="shop-look-product-image_item"
              >
                {%- render 'responsive-image', image: hotspot_product.featured_image, sizes: '150x0' -%}
              </a>
            {% endif %}
          {% endfor %}
        </div>
        <div class="shop-look-info">
          <div class="shop-look-info-left">
            <div class="shop-look-info-title">{{ footer_title }}</div>
            <div class="shop-look-info-desc">{{ footer_description }}</div>
          </div>
          <a href="/collections/all-lights" class="shop-look-info-icon">
            {% render 'svg-icons' with 'custom-arrow-right' %}
          </a>
        </div>
      </div>
    </div>
    {% comment %}
      <div class="custom-product-list">
        {% for block in section.blocks %}
      {%- assign hotspot_product = all_products[block.settings.product_handle] -%}
          <div class="custom-product-card">
            {% if hotspot_product.featured_image %}
            <a href="{{ hotspot_product.url }}" title="{{ hotspot_product.title | escape }}" class="thb-hotspot-product-image">
            {%- render 'responsive-image', image: hotspot_product.featured_image, sizes: '150x0' -%}
            </a>
            {% endif %}
            <div class="thb-hotspot-product-content custom-product-content">
              <div class="thb-hotspot-product-title">{{ hotspot_product.title }}</div>
                {% render 'product-price', product: hotspot_product %}
                {% assign text_button_title = 'sections.shop_the_look.view_product' | t %}
                {% render 'text-button', url: hotspot_product.url, title: text_button_title %}
              </div>
            </div>
          {% endfor %}
          <lottie-player src="{{ 'lottie-loading.json' | asset_url }}" background="transparent" speed="1" style="width: 60px; height: 60px;" loop autoplay></lottie-player >
      </div>
    {% endcomment %}
  </div>
</shop-the-look>
<script src="{{ 'shop-the-look.js' | asset_url }}" defer="defer">
  var image = {{image_1}};
      console.log(image);
</script>
{% schema %}
{
  "name": "Shop the look",
  "class": "section-shop-the-look",
  "settings": [
    {
      "type": "paragraph",
      "content": "Learn more about how to set up the [shop the look section](https://documentation.fuelthemes.net/kb/how-to-set-up-shop-the-look-section-in-vision/)"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Header Title",
      "info": "Wrap your text."
    },
    {
      "type": "header",
      "content": "Footer Info"
    },
    {
      "id": "footer_title",
      "type": "text",
      "label": "Title",
      "info": "Leave the label blank to hide the icon."
    },
    {
      "id": "footer_description",
      "type": "text",
      "label": "Description",
      "info": "Leave the label blank to hide the icon."
    },
    {
      "type": "header",
      "content": "Button 1"
    },
    {
      "id": "button_1_icon",
      "type": "text",
      "label": "Icon",
      "info": "Leave the label blank to hide the icon."
    },
    {
      "id": "button_1_text",
      "type": "text",
      "label": "Button Text",
      "info": "Wrap your text."
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Image",
      "info": "1280 x 650 px .jpg recommended."
    },
    {
      "type": "image_picker",
      "id": "image_1_mobile",
      "label": "Mobile image",
      "info": "750 x 800 px .jpg recommended. Default image is used if none is selected. To position the hotspots precisely, switch to mobile mode."
    },
    {
      "type": "header",
      "content": "Button 2"
    },
    {
      "id": "button_2_icon",
      "type": "text",
      "label": "Icon",
      "info": "Leave the label blank to hide the icon."
    },
    {
      "id": "button_2_text",
      "type": "text",
      "label": "Button Text",
      "info": "Wrap your text."
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Image",
      "info": "1280 x 650 px .jpg recommended."
    },
    {
      "type": "image_picker",
      "id": "image_2_mobile",
      "label": "Mobile image",
      "info": "750 x 800 px .jpg recommended. Default image is used if none is selected. To position the hotspots precisely, switch to mobile mode."
    },
    {
      "type": "header",
      "content": "Button 3"
    },
    {
      "id": "button_3_icon",
      "type": "text",
      "label": "Icon",
      "info": "Leave the label blank to hide the icon."
    },
    {
      "id": "button_3_text",
      "type": "text",
      "label": "Button Text",
      "info": "Wrap your text."
    },
    {
      "type": "image_picker",
      "id": "image_3",
      "label": "Image",
      "info": "1280 x 650 px .jpg recommended."
    },
    {
      "type": "image_picker",
      "id": "image_3_mobile",
      "label": "Mobile image",
      "info": "750 x 800 px .jpg recommended. Default image is used if none is selected. To position the hotspots precisely, switch to mobile mode."
    },
    {
      "type": "header",
      "content": "Button 4"
    },
    {
      "id": "button_4_icon",
      "type": "text",
      "label": "Icon",
      "info": "Leave the label blank to hide the icon."
    },
    {
      "id": "button_4_text",
      "type": "text",
      "label": "Button Text",
      "info": "Wrap your text."
    },
    {
      "type": "image_picker",
      "id": "image_4",
      "label": "Image",
      "info": "1280 x 650 px .jpg recommended."
    },
    {
      "type": "image_picker",
      "id": "image_4_mobile",
      "label": "Mobile image",
      "info": "750 x 800 px .jpg recommended. Default image is used if none is selected. To position the hotspots precisely, switch to mobile mode."
    },
    {
      "type": "header",
      "content": "Button 5"
    },
    {
      "id": "button_5_icon",
      "type": "text",
      "label": "Icon",
      "info": "Leave the label blank to hide the icon."
    },
    {
      "id": "button_5_text",
      "type": "text",
      "label": "Button Text",
      "info": "Wrap your text."
    },
    {
      "type": "image_picker",
      "id": "image_5",
      "label": "Image",
      "info": "1280 x 650 px .jpg recommended."
    },
    {
      "type": "image_picker",
      "id": "image_5_mobile",
      "label": "Mobile image",
      "info": "750 x 800 px .jpg recommended. Default image is used if none is selected. To position the hotspots precisely, switch to mobile mode."
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Make section full width",
      "default": false
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "checkbox",
      "id": "disable_top_spacing",
      "default": false,
      "label": "Remove top spacing"
    },
    {
      "type": "checkbox",
      "id": "disable_bottom_spacing",
      "default": false,
      "label": "Remove bottom spacing"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product_handle",
          "label": "Product"
        },
        {
          "type": "header",
          "content": "Position"
        },
        {
          "type": "range",
          "id": "x_position",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Horizontal",
          "default": 20,
          "info": "Horizontal position of the hot spot"
        },
        {
          "type": "range",
          "id": "y_position",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Vertical",
          "default": 20,
          "info": "Vertical position of the hot spot"
        },
        {
          "type": "header",
          "content": "Mobile position"
        },
        {
          "type": "range",
          "id": "x_position_mobile",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Horizontal",
          "default": 20,
          "info": "Horizontal position of the hot spot on mobile screens"
        },
        {
          "type": "range",
          "id": "y_position_mobile",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Vertical",
          "default": 20,
          "info": "Vertical position of the hot spot on mobile screens"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Shop the look",
      "blocks": [
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}
